body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  gap: 1rem;
}

.card-content {
  flex-grow: 1;
}

img, iframe{
  max-width: 100%;
}

.card-food {
  justify-content: space-between;
}

@media (max-width: 580px) {
  .recipe {
    margin: 5%;
  }
}

@media (min-width: 1024px) {
  .body-recipe {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
  }
  .description-recipe{
    display: flex;
    flex-direction: column;
  }
  .video-recipe {
    display: flex;
    justify-content: space-evenly;
  }
}

.recipe-img{
  width: 60%;
}