.side-bar{
    min-height: 100vh; 
    width: 240px;
    background-color: #060b26;
    position: fixed;
    left: -100%;
    transition: 500ms;
}

.side-bar.active{
    left: 0;
    transition: 500ms;
}

.link-unset {
    all: unset;
}

.side-bar-row {
    height: 50px;
    margin: 10px;
    padding: 0 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.side-bar-row:hover{
    background-color: #1a83ff;
}

.side-bar-row .icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.side-bar-row .title{
    flex: 70%;
}

#active-row {
    background-color: #1a83ff;
}

.side-bar-icon {
    cursor: pointer;
    font-size: 3rem;
    color: #f1f1f1;
    position: absolute;
    margin: 0;
    top: 50px;
    left: 20px;
}

.top-side-bar{
    top: 0;
    position: absolute;
    background-color: #060b26;
    width: 240px;
}