body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  padding: 0 1rem
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.price {
  font-size: 1.8rem;
}

.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;

  cursor: pointer;
  z-index: 5;
  padding: 1rem;

  background-color: red;
}

@media (min-width: 767px) {
  .cart .quantity{
    top: 5rem;
    bottom: unset;
  }
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 50rem;
  max-width: 95%;

  animation: showBasket 500ms ease-in-out;
}

.basket-close {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.quantity {
  display: flex;
  justify-content: center;
  font-size: large;
  height: 27px;
  width: 27px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  color: black;
  z-index: 6;

  background-color: aqua;
}

.inc-dec-order {
  vertical-align: middle;
  color: black;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.offer-btn {
  color: #fff;
  background-color: cornflowerblue;
  cursor: pointer;
  border: none;
  display: inline-block;
  height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 70%;
}

@keyframes showBasket {
  from {
    top: 80%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

#toast-container {
  padding: 1rem;
  bottom: 2rem;
  right: 6rem;
  font-size: large;
  animation: fade-in 500ms ease-in-out;
  background-color: grey;
  color: black;
  border-radius: 10px;
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(1rem);
  }
  to {
      opacity: 1;
      transform: translateY(0rem);
  }
}

.card-market{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.card-action{
  align-self: center;
}

.collection-item{
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
.active {
  background-color: #26a69a;
}
.basket{
  display: flex;
  justify-content: center;
}

.close-btn{
  float: right;
  justify-self: end;
}

.z-index {
  z-index: 11;
}

.toast-market{
  position: fixed;
}