.top{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;

    .description{
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .cat {
        cursor: pointer;
        max-width: 100%; 
        border-radius: 50%;
    }
}